[flake8]

exclude =
    .git,
	.pytest_cache/,
	oc_lettings_site/__pycache__/,
	oc_lettings_site/migrations/,
	templates/,
	venv/,
	.flake8,
	.gitignore,
	oc-lettings-site.sqlite3,
	README.md,
	requirements.txt,
	setup.cfg,

max-line-length=119
format=html
htmldir=flake-report